<configuration>
  <appSettings>
    <add key="owin:AutomaticAppStartup" value="false"/>
    <add key ="path" value="E:\\lx\\WorldexAnnex"/>
    <add key ="url" value="http://192.168.5.199/WorldexUpload/"/>
    <add key ="defaultUrl" value="http://192.168.5.199/WorldexUpload/WOR.png"/>
    <add key="SendUser" value="sqlidan.li@exclouds.com.cn"/>
    <!--发送人-->
    <add key="SendUserPSW" value="MIma43211"/>
    <!--密码-->
    <add key="Smtp" value="smtp.263.net"/>
    <!--发件服务器-->
    <add key="ServerChatIP" value="192.168.70.71"/>
    <add key="ServerChatPort" value="1922"/>
  </appSettings>
  <runtime>
      <gcServer enabled="true"/>
   </runtime>
</configuration>
