<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Error">


  <variable name="logDirectory" value="${basedir}/Logs"/>

  <variable name="logFormat" value="date：${date}${newline}servicename：db ${newline}machinename：${machinename} ${newline}message：${message}${newline}-----------------------------------------------------------" />

  <targets async="true">
    <target xsi:type="File"  name="DebugLog" fileName="${logDirectory}/Debug/${shortdate}.log" layout="${logFormat}"/>
    <target xsi:type="File"  name="InfoLog" fileName="${logDirectory}/Info/${shortdate}.log" layout="${logFormat}"/>

    <target xsi:type="File"  name="ErrorLog" fileName="${logDirectory}/Error/${shortdate}.log" layout="${logFormat}"/>
    <target xsi:type="File"  name="FatalLog" fileName="${logDirectory}/Fatal/${shortdate}.log" layout="${logFormat}"/>
    <target xsi:type="Network"  name="netErrorLog"  keepConnection="false" address ="tcp://10.135.252.116:9601" layout="${logFormat}"/>
    <target xsi:type="Null" name="blackhole" />
  </targets >

  <rules>
    <logger name="*" minlevel="Debug"  writeTo="DebugLog" />
    <logger name="*" minlevel="Info"  writeTo="InfoLog" />

    <logger name="*" minlevel="Error"  writeTo="ErrorLog" />
    <logger name="*" minlevel="Error"  writeTo="netErrorLog" />
    <logger name="*" minlevel="Fatal"  writeTo="FatalLog" />

    <!--<logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />-->
  </rules>
</nlog>